/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* Pozicionálás */
.profile-card {
  width: 700px;
  max-width: calc(100vw - 10px);
  height: 100%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Josefin Sans";
  line-height: 1.5em;
  color: #3d4747;
  background: url('assets/háttérkép.jpg') no-repeat center center fixed;
  background-size: cover;
}
.cover-image {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(104, 133, 83, 0.6);
}
#cover-image {
  height: 100%;
  padding: 1px;
  background-color: #666; 
  border-radius: 4%;
}
.second-row {
  width: 100%;
  height: 70%;
}
.head {
  width: 40%;
  height: 100%;
  text-align: center;
  background-color: rgba(104, 133, 83, 0.6);
}
.content {
  width: 60%;
  height: 100%;
  border-left: 1px solid grey;
  padding: 15px;
  background-color: rgba(161, 206, 130, 0.6);
}
.left {
  float: left;
}
.profile-image {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.name-headline {
  width: 100%;
  height: 60%;
  margin: 0 auto;
  border-top: 1px solid grey;
  padding: 5px;
  line-height: 1.2;
}
.links {
  width: 100%;
  height: 30%;
  border-top: 1px solid grey;
  padding-top: 20px;
  text-align:center;
}
#profile-image {
  width: 110px;
  height: 150px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666; 
  transition: all 0.5s ease-in-out;
}
#profile-image:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
span {
  font-size: smaller;
}
span:hover {
  color:blue;
}
h1 {
  text-transform: uppercase;
  font-size: x-large;
}
h2 {
  font-size: larger;
  padding: 10px;;
}
#location {
  font-size: larger;
}
.fa {
  color: rgba(34, 34, 34, .6);
}
.about {
  font-size: 18px;
  font-weight: 600;
}
